<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }

        .content-container {
            flex: 1 0 auto;
        }

        footer {
            flex-shrink: 0;
        }

        .hover-underline-animation {
            display: inline-block;
            position: relative;
            color: #3182ce;
        }

        .hover-underline-animation::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #3182ce;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        .hover-underline-animation:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    </style>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">
    <%- include('partials/navbar', { token: token }) %>
    <div class="content-container w-full">
        <div class="container mx-auto mt-10 px-4 sm:px-6 lg:px-8">
            <div class="bg-white shadow-md rounded-lg p-8 mb-4">
                <h1 class="text-3xl font-bold text-center mb-6">Welcome, <%= user.username %></h1>
                <div class="flex flex-col justify-between items-start mb-6">
                    <div class="user-info w-full mb-4">
                        <p class="mb-2 flex items-center">
                            <span class="font-bold">Username : <%= user.username %> </span> 
                        </p>
                        <p class="mb-2 flex items-center">
                            <span class="font-bold">Email: <%= user.email %></span> 
                        </p>
                        <p class="mb-2 flex items-center">
                            <span class="font-bold">LeetCode Username: <%= userdata.leetcode || 'Not provided' %> </span> 
                            <button id="edit-leetcode-btn"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline ml-2">Edit</button>
                        </p>
                        <p class="mb-2 flex items-center">
                            <span class="font-bold">Codeforces Username: <%= userdata.codeforces || 'Not provided' %></span> 
                            <button id="edit-codeforces-btn"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline ml-2">Edit</button>
                        </p>
                        <p class="mb-2 flex items-center">
                            <span class="font-bold">Github Username: <%= userdata.github || 'Not provided' %></span>
                            <button id="edit-github-btn"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline ml-2">Edit</button>
                        </p>

                    </div>
                </div>
                <div id="edit-forms" class="mt-4">
                    <form id="edit-leetcode-form" class="hidden mb-4">
                        <label for="new-leetcode-username" class="block text-gray-700 text-sm font-bold mb-2">New LeetCode Username:</label>
                        <input type="text" id="new-leetcode-username" name="new-leetcode-username"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <button type="button" id="save-leetcode-btn"
                            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-2">Save</button>
                    </form>
                    <form id="edit-codeforces-form" class="hidden mb-4">
                        <label for="new-codeforces-username" class="block text-gray-700 text-sm font-bold mb-2">New Codeforces Username:</label>
                        <input type="text" id="new-codeforces-username" name="new-codeforces-username"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <button type="button" id="save-codeforces-btn"
                            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-2">Save</button>
                    </form>
                    <form id="edit-github-form" class="hidden mb-4">
                        <label for="new-github-username" class="block text-gray-700 text-sm font-bold mb-2">New Github Username:</label>
                        <input type="text" id="new-github-username" name="new-github-username"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <button type="button" id="save-github-btn"
                            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-2">Save</button>
                    </form>

                </div>
            </div>
            
        </div>
        <div class="text-center mt-6">
            <a href="/dashboard/<%= token %>" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Go to Dashboard</a>
        </div>
    </div>


    <%- include('partials/footer') %>

    <script>

        document.getElementById('edit-leetcode-btn').addEventListener('click', function () {
            document.getElementById('edit-leetcode-form').classList.toggle('hidden');
        });

        document.getElementById('save-leetcode-btn').addEventListener('click', async function () {
            const newLeetcodeUsername = document.getElementById('new-leetcode-username').value;
            if (!newLeetcodeUsername) {
                alert('Please enter a LeetCode username');
                return;
            }
            const response = await fetch('/update-leetcode', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ leetcode: newLeetcodeUsername })
            });
            const data = await response.json();
            if (data.success) {
                location.reload();
            } else {
                alert('Error updating LeetCode username');
            }
        });

        document.getElementById('edit-codeforces-btn').addEventListener('click', function () {
            document.getElementById('edit-codeforces-form').classList.toggle('hidden');
        });

        document.getElementById('save-codeforces-btn').addEventListener('click', async function () {
            const newCodeforcesUsername = document.getElementById('new-codeforces-username').value;
            if (!newCodeforcesUsername) {
                alert('Please enter a Codeforces username');
                return;
            }
            const response = await fetch('/update-codeforces', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ codeforces: newCodeforcesUsername })
            });
            const data = await response.json();
            if (data.success) {
                location.reload();
            } else {
                alert('Error updating Codeforces username');
            }
        });
        document.getElementById('edit-github-btn').addEventListener('click', function () {
            document.getElementById('edit-github-form').classList.toggle('hidden');
        });

        document.getElementById('save-github-btn').addEventListener('click', async function () {
            const newGithubUsername = document.getElementById('new-github-username').value;
            if (!newGithubUsername) {
                alert('Please enter a Github username');
                return;
            }
            const response = await fetch('/update-github', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ github: newGithubUsername })
            });
            const data = await response.json();
            if (data.success) {
                location.reload();
            } else {
                alert('Error updating Github username');
            }
        });
    </script>
</body>

</html>
